---
import Layout from "../layouts/Layout.astro";
// Console log ruta
console.log(import.meta.url);
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- <svg
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="icon icon-tabler icons-tabler-outline icon-tabler-icons"
			><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
				d="M6.5 6.5m-3.5 0a3.5 3.5 0 1 0 7 0a3.5 3.5 0 1 0 -7 0"
			></path><path d="M2.5 21h8l-4 -7z"></path><path d="M14 3l7 7"
			></path><path d="M14 10l7 -7"></path><path d="M14 14h7v7h-7z"
			></path></svg
		><svg
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="icon icon-tabler icons-tabler-outline icon-tabler-letter-case-toggle"
			><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
				d="M6.5 15.5m-3.5 0a3.5 3.5 0 1 0 7 0a3.5 3.5 0 1 0 -7 0"
			></path><path d="M14 19v-10.5a3.5 3.5 0 0 1 7 0v10.5"></path><path
				d="M14 13h7"></path><path d="M10 12v7"></path></svg
		><svg
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="icon icon-tabler icons-tabler-outline icon-tabler-books"
			><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
				d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
			></path><path
				d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
			></path><path d="M5 8h4"></path><path d="M9 16h4"></path><path
				d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z"
			></path><path d="M14 9l4 -1"></path><path d="M16 16l3.923 -.98"
			></path></svg
		> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		align-content: flex-start;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	svg {
		justify-content: center;
		margin: 0 auto;
		-webkit-animation: rotate-scale-up 0.65s linear both;
		animation: rotate-scale-up 0.65s linear both;
	}
	@-webkit-keyframes rotate-scale-up {
		0% {
			-webkit-transform: scale(1) rotateZ(0);
			transform: scale(1) rotateZ(0);
		}
		50% {
			-webkit-transform: scale(2) rotateZ(180deg);
			transform: scale(2) rotateZ(180deg);
		}
		100% {
			-webkit-transform: scale(1) rotateZ(360deg);
			transform: scale(1) rotateZ(360deg);
		}
	}
	@keyframes rotate-scale-up {
		0% {
			-webkit-transform: scale(1) rotateZ(0);
			transform: scale(1) rotateZ(0);
		}
		50% {
			-webkit-transform: scale(2) rotateZ(180deg);
			transform: scale(2) rotateZ(180deg);
		}
		100% {
			-webkit-transform: scale(1) rotateZ(360deg);
			transform: scale(1) rotateZ(360deg);
		}
	}
</style>
